@page "/deletelesson/{id:int}"
@attribute [StreamRendering]
@using MP.Components.Data
@using MP.Components.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<MP.Components.Data.MPcontext> DbFactory
@inject NavigationManager NavigationManager
@inject MP.Components.Data.MPcontext lessoncontext
@rendermode InteractiveServer
<PageTitle>Delete Lesson</PageTitle>
<container style="text-align:center; color:slategray; align-content: center;">
    <h1 style="color:red">Warning: This page should only be accessed if you are an approved admin</h1>
    
    <div>
        <hr / style="color:white;">
        @if (lesson is null)
        {
            <h1 style="color:red; text-align:center;"><em>No lesson can be found.</em></h1>
        }
        else
        {
            <h1 style="margin-top:40px;">Delete</h1>
    @* Get details on the current lesson *@
    <h2>Are you sure you want to delete this?</h2>
            <div style="margin-left:25px;">
                <dl class="row">
                    <dt class="col-sm-2" style="font-size:30px;">Lesson ID</dt>
                    <dd class="col-sm-10" style="font-size:30px;">@lesson.LessonID</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2" style="font-size:30px;">Lesson Name</dt>
                    <dd class="col-sm-10" style="font-size:30px;">@lesson.LessonName</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2" style="font-size:30px;">Lesson Link</dt>
                    <dd class="col-sm-10" style="font-size:30px;">@lesson.LessonLink</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2" style="font-size:30px;">Lesson Thumbnail</dt>
                    <div style="width: 60%;  display: flex;  align-items: center;color: none; margin-left:300px;">
                        <img src="@lesson.Thumbnail.FirstOrDefault()" style="width: 60%; height: auto; align-content: center; border: 5px solid white; border-radius: 5px;" alt="Uploaded Image" />
                    </div>
                </dl>
                <EditForm method="post" Model="lesson" OnValidSubmit="DeleteLesson" FormName="delete" Enhance>
                    <button type="submit" class="btn btn-danger" disabled="@(lesson is null)">Delete</button> |
                    <a href="/lessons">Back to Lessons</a>
                </EditForm>
            </div>
        }
    </div>
</container>
@code {
    [Parameter]
    public int id { get; set; }
    Lessons? lesson;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();


    }
    protected override void OnInitialized() //get lesson id
    {
        lesson = lessoncontext.Lessons.FirstOrDefault(x => x.LessonID == id);
    }
    private async Task DeleteLesson() //remove lesson from database
    {
        using var context = DbFactory.CreateDbContext();
        context.Lessons.Remove(lesson!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/lessons");
    }
}
